<H1>API Test Panel</H1>
<div id="subscription-key-block">
	<h3>Subscription Key</h3>
	{{input id="subscriptionKey" value=config.subscriptionKey}}
</div>
<h3>Person Groups</h3>
	<button{{action "loadPersonGroups"}}>Load</button>
<select>
{{#each model.personGroups as |personGroup|}}
	 <option value=personGroup>{{personGroup.name}}</option>
{{/each}}
</select>
<h3>Image</h3>
<button id="take-picture-button"{{action "takeAPicture"}}>Take
	a picture</button>
	<textarea id="image-uri" type="text" value={{imageUri}} />
<h3>Detect</h3>
	<button{{action "detect"}}>Detect</button>
<textarea id="result-area" value={{detectResponseString}} />

<h3>Identify</h3>	<button{{action "identify"}}>Identify</button>
<textarea id="result-area" value={{identifyResponseString}} />
<p/>
{{facial-recognition pictureTaken=(action "pictureTaken")}}
